
<!-- This loads the files in the static folder in projects folder and names it something useful for coding-->

{% load staticfiles %}
<link href="{{ STATIC_URL }}default.css" rel="stylesheet" type="text/css"/>
<!--How to show the file loaded in the static folder
<img alt="bg" src="{{ STATIC_URL }}images/bg.png"/>
<img alt="bgcode" src="{{ STATIC_URL }}images/bgcode.gif"/>
<img alt="bgitem" src="{{ STATIC_URL }}images/bgitem.gif"/>
<img alt="darkpixel" src="{{ STATIC_URL }}images/dark_pixel.jpg"/>
<img alt="li" src="{{ STATIC_URL }}images/li.gif"/>
<img alt="quote" src="{{ STATIC_URL }}images/quote.gif"/>
-->



<title>Project Tracker</title>
<body>
	<div class="main">
		<div class="gfx">
			<h1>Project Tracker</h1>
		</div>
		<div class="menu">
			<a>
				RequireTracker
			</a>
			<a>
				Group 2
			</a>
			<a>
				Group 3
			</a>
		<div class="content">
			<div style="width:32%; position: relative; float:left; background: #1A1A1A;">
				<h1>
					This application allows project requirements to be tracked by creating, editing, and updating stories.  users can create suggestions, monitor progress and mark the completion of stories using this software.
				</h1>
			</div>
			<div style="width:32%; position: relative; float:left; background: #1A1A1A; left: 7px">
				<h1>
					Group 2: This is where a brief description of your project in communication should go.
				</h1>
			</div>
			<div style="width:32%; position: relative; float:left; background: #1A1A1A; left: 15px" >
				<h1>
					Group 3: This is where a brief description of your project in bug tracking should go.
				</h1>
			</div>	
		</div>
	<div class="content" style="background: #000;">
		</br>
		</br>
		
		<button id="loginButton" style="Height: 25px; Width: 50px; position: relative; left: 75px" onclick="login()">Login</button>
		
		<button id="registerButton" style="Height: 25px; position: relative; left: 400px ">Register</button>
		</br>
		</br>
	</div>

<SCRIPT TYPE="text/javascript">
	function login()
	{
		window.location.replace("r'^', 'django.contrib.auth.views.login', {'template_name': 'login.html'}")
	}

</SCRIPT>