{% extends "LoggedInBase.html" %}
{% block content %}
{% load staticfiles %}
<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css"/>

<body>
<div id="container">
	<div id="header">
		<h1 style="position: relative; left: 350px;" >
			Project List
		</h1>
	</div>
<!-- <<<<<<< HEAD -->
<!-- 	<div id="linkbar">
		<button id ="newProjectButton" onclick= "createProject();" style=" position: relative; Height: 50px; Width: 80px; top: 5px; left: 5px;" >New Project</button>

		<button id ="editProjectButton" onclick= "editProject();" style=" position: relative; Height: 50px; Width: 80px; top: 5px; left: 20px;" >Edit Project</button>

		<button id ="deleteProjectButton" onclick= "deleteProject();" style=" position: relative; Height: 50px; Width: 100px; top: 5px; left: 35px;" >Delete Project</button>

		<button id ="goToProjectButton" onclick= "goToProject();" style=" position: relative; Height: 50px; Width: 100px; top: 5px; left: 50px;" >Go to Project</button> -->
<!-- ======= -->
    <div id="linkbar">
		<a id ="newProjectButton" href="/newproject">New Project</a>
<!-- >>>>>>> newfeature-be-editproject -->
	</div>
	<table style="width:100%">
		<tr>
			<th align=left>Title</th>
			<th align=left>Description</th>
		</tr>
		{% for project in projects %}
		<tr>
			<td>{{project.title}}</td>
			<td>{{project.description}}</td>
			<td><a href=  "/editproject/{{project.id}}">Edit</a></td>
			<td><a href=  "/deleteproject/{{project.id}}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>

</body>

 <!-- Put in code to create a new Project in next function then redirect -->

<SCRIPT TYPE="text/javascript">
	function createProject()
	{

		var projectWindow = window.open("http://127.0.0.1:8000/newProject","_blank","height=600, width=600");
	 
	}

	function editProject()
	{
		var projectWindow = window.open("http://127.0.0.1:8000/editProject","_blank","height=600, width=600");
	}

	function goToProject()
	{
		window.location.replace("projectStories")
	}
</SCRIPT>

{% endblock content %}