{% load staticfiles %}
<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css"/>


<body>
<div id="container">
	<div id="header">
		<h1 style="position: relative; left: 350px;" >
			<!-- We will replace the next line with the Projects Actual Name-->
			[Project Name]
		</h1>
	</div>
	<div id="linkbar">
		<button id ="createStoryButton" onclick= "createStory();" style=" position: relative; Height: 50px; Width: 80px; top: 5px; left: 5px;" >New Story</button>

		<button id ="editStoryButton" onclick= "editStory();" style=" position: relative; Height: 50px; Width: 80px; top: 5px; left: 20px;" >Edit Story</button>

		<button id ="deleteStoryButton" onclick= "deleteStory();" style=" position: relative; Height: 50px; Width: 100px; top: 5px; left: 35px;" >Delete Story</button>
	</div>
	{% block content %}
	<table style="width:100%">
		<tr>
			<!-- This section gets replaced with the story table information of the project relating to the project name that goes in the above title -->

			<th>Title</th>
			<th>Description</th>
		</tr>
		{% for project in projects %}
		<tr>
			<td>{{project.title}}</td>
			<td>{{project.description}}</td>
		</tr>
		{% endfor %}
	</table>

	{% endblock %}
</div>
</body>


<SCRIPT TYPE="text/javascript">
	function createStory(){
		var storyWindow = window.open("http://127.0.0.1:8000/newStory","_blank","height=600, width=600");
	}
</SCRIPT>