{% extends "SideBarBase.html" %}
{% load require_tags %}
{% block content2 %}
<div id="wrapper">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					DashBoard
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div id="panelProjectList" class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title">
							<i class="fa fa-list fa-fw"></i>
							Project List
							{% if canOwnProject %}
							<a class="btn btn-link pull-right" href="javascript:void(0);" onclick="showProjectDialog('/newproject');">
								<i class="glyphicon glyphicon-plus"></i>
							</a>
							{% endif %}
						</h2>
					</div>
					<div class="panel-body">
					    <div class="panel-group" id="accordion">
					    	{% for theProject in projects %}
					        <div class="panel panel-default">
					            <div class="panel-heading">
							        <h4 class="panel-title">
							        	<a data-toggle="collapse" data-target="#{{ theProject.id }}" href="#{{ theProject.id }}" aria-expanded="true" class=""><i class="fa fa-briefcase fa-fw"></i>
								             {{ theProject.title}}
								            <!-- <div id="panelbar-{{ theProject.id }}" class="pull-right"> -->
                                            {% for anAssociation in associationsWithUser %}
                                                {% check_permission anAssociation theProject "DeleteProject" as can_delete %} 
                                                {% if can_delete  %} 
        							        		<a class="btn btn-link pull-right" href="javascript:void(0);" onclick="showProjectDialog('/deleteproject/{{ theProject.id }}');">
                                                    <i class="fa fa-trash-o fa-fw"></i>
                                                     Delete
                                                    </a>
                                                {% endif %}
                                                {% check_permission anAssociation theProject "EditProject" as can_edit %} 
                                                {% if can_edit %} 
         							           		<a class="btn btn-link pull-right" href="javascript:void(0);" onclick="showProjectDialog('/editproject/{{ theProject.id }}');">
                                                    <i class="fa fa-edit fa-fw"></i>
                                                    Edit
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
							           		<a class="btn btn-link pull-right" href="/projects/{{ theProject.id }}">
							           			<i class="glyphicon glyphicon-folder-open fa-fw"></i>
							           			 Open
							           		</a>
							           		<!-- </div> -->
								        </a>
							        </h4>
					            </div>
					            <div id="{{ theProject.id }}" class="panel-collapse collapse in" aria-expanded="true">
					                <div class="panel-body">
					                	{% for line_description in theProject.description_as_list %}
											{{ line_description }}<br>
					                	{% endfor %}
					                </div>
					            </div>
					        </div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var winHeight = $(window).outerHeight();
	$("#page-wrapper").css('height',winHeight);

	// use ajax method to load the content for Dialog
	// projUrl will be one of the following three:
	// /newproject or /editproject/projID or /deleteproject/projID
	function showProjectDialog(projUrl){
	    $.ajax({
	        url: projUrl,
	        success: function(result) {
	            $("#projectModal").html(result);
	            $("#projectModal").modal({
	            	backdrop: false,
	            	show: true
	            })
	        },
	        async:false
	    }); 
	}

	// when click close button in Dialog, close it and erase the content.
	function closeProjectDialog(){
	    $("#projectModal").modal('hide');
	    $("#projectModal").html('');
	}
	
</script>
{% endblock content2 %}