{% load staticfiles %}

    <div class="modal-dialog modal-md">
      	<div class="modal-content">
	        <div class="modal-header">
	        	<a class="btn close" aria-label="Close" href="javascript:void(0)" onclick="closeDialog();">
	        		<span aria-hidden="true">x</span>
	        	</a>
	        	<h4 class="modal-title" id="iterModalLabel">{{ title }}</h4>
	        </div>
	        <form id="iterationForm" class="form-horizontal" action="{{ action }}" method="post">
	        	{% csrf_token %}
	        	<div class="modal-body">
                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}" class="col-xs-12 col-sm-3 control-label">Title</label>
                        <div class="col-xs-12 col-sm-9">{{ form.title }}</div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.description.id_for_label }}" class="col-xs-12 col-sm-3 control-label">Description</label>
                        <div class="col-xs-12 col-sm-9">{{ form.description }}</div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.start_date.id_for_label }}" class="col-xs-12 col-sm-3 control-label">Start Date</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="input-group date form_datetime">
                                {{ form.start_date }}
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.end_date.id_for_label }}" class="col-xs-12 col-sm-3 control-label">End Date</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="input-group date form_datetime">
                                {{ form.end_date }}
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                            </div>
                        </div>
                    </div>
	        	</div>
        		<div class="modal-footer">
        		  	<a class="btn btn-default" href="javascript:void(0)" onclick="closeDialog();">Close</a>
					<button type="submit" class="btn btn-primary">Save</button>
        		</div>
	        </form>

      	</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <script type="text/javascript">
        // detect submit button event to use ajax method to post the form
        // and retrive the return data back if there is error object in form object.
        $('#iterationForm').on('submit',function(e){
            $(this).ajaxForm({
                type : "POST",
                cache : false,
                url : $(this).attr('action'),
                data : $(this).serialize(),
                success : function(data) {
                    $("#iterationModal").html(data);
                },
                async:false
            }).submit();
            e.stopPropagation();
        });

        $(".form_datetime").datetimepicker({
            format: "mm/dd/yyyy",
            autoclose: true,
            startView: 2,
            minView: 2,
            todayHighlight: true,
            pickerPosition: 'bottom-right',
        });
    </script>
