{% load staticfiles %}
<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css"/>



<body>                  
<div id="container">
	<div id="header" style="Width: 40%;">
		<h1>
			Project Member Management
		</h1>
	</div>
	<div class="content">
		<div id="linkbar" style="width:20%; position: relative; float:left;">
			<h2>
				</br>
				</br>
				Available Users
			</h2>
		</div>
		<div id="linkbar" style="width:20%; position: relative; float:left;">
			<h2>
				</br>
				</br>
				Current Project Members
			</h2>
		</div>
		</br>
		</br>
		</br>
		</br>
		</br>
		<div style="width:20%; position: relative; float:left;">
			<!--This is where the available users list goes-->
		</div>
		<div style="width:20%; position: relative; float:left;">
			<!--This is where the current Project Members list goes-->
		</div>
		</br>
		</br>
		</br>
		</br>
		<button id="add" style="Height: 25px; Width: 50px; position: relative; left: 6%;" >Add</button>
		<button id="Remove" style="Height: 25px; position: relative; left:24%;">Remove</button>
</div>

