{% load staticfiles %}

    <div class="modal-dialog modal-lg">
      	<div class="modal-content">
	        <div class="modal-header">
	        	<a class="btn close" aria-label="Close" href="/projects"><span aria-hidden="true">x</span></a>
	        	<h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
	        </div>
	        <form class="form-horizontal" action="/newiteration/{{ projectID}}" method="post">
	        	{% csrf_token %}
	        	<div class="modal-body">

	        			<h4>{{ form.title.label_tag }}</h4>
	        			<p>{{ form.title }}</p>
	        			<hr>
	        			<h4>{{ form.description.label_tag }}</h4>
	        			<p>{{ form.description }}</p>
                        <hr>
	        			<h4>{{ form.start_date.label_tag }}</h4>
	        			<p>{{ form.start_date }}</p>
                        <hr>
	        			<h4>{{ form.end_date.label_tag }}</h4>
	        			<p>{{ form.end_date }}</p>
	        	</div>
        		<div class="modal-footer">
        		  	<a class="btn btn-default" href="javascript:void(0)" onclick="closeNewIterationBox();">Close</a>
					<button type="submit" class="btn btn-danger">Save</button>
        		</div>
	        </form>

      	</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
