{% load staticfiles %}

	{% if confirm_message %}
    <div class="modal-dialog modal-md">
    {% else %}
    <div class="modal-dialog">
    {% endif %}
      	<div class="modal-content">
	        <div class="modal-header">
	        	<a class="btn close" aria-label="Close" href="javascript:void(0);" onclick="closeDialog();">
	        		<span aria-hidden="true">×</span>
	        	</a>
	        	<h4 class="modal-title" id="dialogModalLabel">{{ title }}</h4>
	        </div>
	        <form id="projectForm" class="form-horizontal" action="{{ action }}" method="post">
	        	{% csrf_token %}
	        	<div class="modal-body">
	        		{% if confirm_message %}
	        		<div class="form-group">
	        			<div class="col-xs-12 col-sm-3"><h2><span class="label label-danger">Warning</span></h2></div>
	        			<div class="col-xs-12 col-sm-9"><h3>{{ confirm_message }}</h3></div>
	        		</div>
	        		<div class="form-group">
	        			<div class="col-xs-12 col-sm-3"><h4>{{ form.title.label_tag }}</h4></div>
	        			<div class="col-xs-12 col-sm-9"><h4>{{ form.title.value }}</h4></div>
	        		</div>
	        		<div class="form-group">
	        			<div class="col-xs-12 col-sm-3"><h4>{{ form.description.label_tag }}</h4></div>
	        			<div class="col-xs-12 col-sm-9"><h4>{{ form.description.value|linebreaksbr }}</h4></div>
	        		</div>
	        		{% else %}
	        		<div class="form-group">
                        <label for="{{ form.title.id_for_label }}" class="col-xs-12 col-sm-3 control-label">Title</label>
                        <div class="col-xs-12 col-sm-9">{{ form.title }}</div>
	        		</div>
	        		<div class="form-group">
                        <label for="{{ form.description.id_for_label }}" class="col-xs-12 col-sm-3 control-label">Description</label>
                        <div class="col-xs-12 col-sm-9">{{ form.description }}</div>
	        		</div>
	        		{% endif %}
	        	</div>
        		<div class="modal-footer">
        		  	<a class="btn btn-default" href="javascript:void(0);" onclick="closeDialog();">Close</a>
        		  	{% if confirm_message %}
					<button type="submit" class="btn btn-danger">{{ desc }}</button>
        		  	{% else %}
        		  	<button type="submit" class="btn btn-primary">{{ desc }}</button>
        		  	{% endif %}
        		</div>
	        </form>

      	</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

	<script type="text/javascript">
		// detect submit button event to use ajax method to post the form
		// and retrive the return data back if there is error object in form object.
		$('#projectForm').on('submit',function(e){
		    $(this).ajaxForm({
		        type : "POST",
		        cache : false,
		        url : $(this).attr('action'),
		        data : $(this).serialize(),
		        success : function(data) {
		            $("#projectModal").html(data);
		        },
		        async:false
		    }).submit();
		    e.stopPropagation();
		});

	</script>