<!DOCTYPE html>
{% extends "TopBarBase.html" %}
{% block content %}
<div class="navbar-inverse">
	<div class="navbar-collapse navbar-ex1-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav side-nav">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="/projects"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
<!--             <li>
                <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
            </li>
            <li>
                <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
            </li>
            <li>
                <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
            </li>
            </ul>
            <li>
                <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
            </li>
            <li>
                <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
            </li> -->
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Project 1 <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Project Stories</a>
                    </li>
                    <li>
                        <a href="#">Iteration 1</a>
                    </li>
                    <li>
                        <a href="#">Iteration 2</a>
                    </li>
                    <li>
                        <a href="#">Ice Box</a>
                    </li>
                    <li>
                        <a href="#">Communication</a>
                    </li>
                    <li>
                        <a href="#">Issues</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Project 2 <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Project Stories</a>
                    </li>
                    <li>
                        <a href="#">Iteration 1</a>
                    </li>
                    <li>
                        <a href="#">Iteration 2</a>
                    </li>
                    <li>
                        <a href="#">Iteration 3</a>
                    </li>
                    <li>
                        <a href="#">Ice Box</a>
                    </li>
                    <li>
                        <a href="#">Communication</a>
                    </li>
                    <li>
                        <a href="#">Issues</a>
                    </li>
                </ul>
            </li>
<!--             <li>
                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
            </li>
            <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
            </li> -->
        </ul>
    </div>
</div>
{% block content2 %}
{% endblock content2 %}

{% load staticfiles %}
<link rel="stylesheet" href="{{ STATIC_URL }}sb-admin/css/sb-admin.css" />

<style type="text/css">
    .navbar-inverse .navbar-nav > ul {
        margin-bottom: 20px;
    }

    .navbar-inverse .navbar-nav > ul > li > a {
        color: #9d9d9d;
    }
</style>
{% endblock content %}