{% extends "TopBarBase.html" %}

{% block content %}
<div class="navbar-inverse">
	<div class="navbar-collapse navbar-ex1-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav side-nav">
            {% if project %}
            <li>
            {% else %}
            <li class="active">
            {% endif %}
                <a href="/projects"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>

            {% for aproject in projects %}
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#proj_{{ aproject.id }}">
                    <i class="fa fa-fw fa-briefcase"></i> {{ aproject.title }} <i class="fa fa-fw fa-caret-down"></i>
                </a>
                {% ifequal aproject.id project.id %}
                <ul id="proj_{{ aproject.id }}" class="collapse in" aria-expanded="true">
                    {% if iteration == None %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                {% else %}
                <ul id="proj_{{ aproject.id }}" class="collapse" aria-expanded="false">
                    <li>
                {% endifequal %}
                        <a href="/projects/{{ aproject.id }}"><i class="fa fa-fw fa-list-alt"></i> Project Detail</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#proj_{{ aproject.id }}_iters">
                            <i class="fa fa-fw fa-tasks"></i> Iterations <i class="fa fa-fw fa-caret-down"></i>
                        </a> 
                        <ul id="proj_{{ aproject.id }}_iters" class="collapse" aria-expanded="false">
<!--                             <li><a href="#"><i class="fa fa-fw fa-calendar"></i> Ice Box</a></li>
                            {% for aiteration in aproject.get_iterations %}
                            <li><a href="#"><i class="fa fa-fw fa-calendar"></i> {{ aiteration.title }}</a></li>
                            {% endfor %}
                            <li><a href="#"><i class="fa fa-fw fa-plus"></i> New Iteration</a></li> -->
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-fw fa-comments-o"></i> Communication</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-road"></i> Issue Tracker</a></li>
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% block content2 %}
{% endblock content2 %}

{% load staticfiles %}
<link rel="stylesheet" href="{{ STATIC_URL }}sb-admin/css/sb-admin.css" />

<style type="text/css">
    .navbar-inverse .navbar-nav > ul {
        margin-bottom: 20px;
    }

    .navbar-inverse .navbar-nav > ul > li > a {
        color: #9d9d9d;
    }
</style>

<script type="text/javascript">
    // because the project model has not foreign relation with iteration model
    // we only can use ajax method to retrive each project's iterations into sidebar.
    {% for aproject in projects %}
    $(function() {
        $.ajax({
            url:'/showiterations/{{ aproject.id }}',
            success: function(result) {
                $("#proj_{{ aproject.id }}_iters").html(result);
            },
            async:true
        });
    });
    {% endfor %}

    // use ajax method to load Iteration Dialog
    // iterUrl will be one of the following three:
    // /newiteration/projID or /edititeration/iterID or /deleteiteration/iterID
    // for now only provide new iteration function.
    function showNewIterationDialog(iterUrl){
        $.ajax({
            url: iterUrl,
            success: function(result) {
                $("#iterationModal").html(result);
                $("#iterationModal").modal({
                    backdrop: false,
                    show: true
                })
            },
            async:false
        }); 
    }

    // close Iteration Dialog and erase content.
    function closeNewIterationDialog(){
        $("#iterationModal").modal('hide');
        $("#iterationModal").html('');
    }
</script>

{% endblock content %}