    {% load staticfiles %}

    {% if confirm_message %}
    <div class="modal-dialog modal-lg">
    {% else %}
    <div class="modal-dialog">
    {% endif %}
        <div class="modal-content">
            <div class="modal-header">
                <a class="btn close" aria-label="Close" href="javascript:void(0);" onclick="closeStoryDialog();">
                    <span aria-hidden="true">×</span>
                </a>
                <h4 class="modal-title" id="storyModalLabel">{{ title }}</h4>
            </div>
            <form id="storyForm" class="form-horizontal" action="{{ action }}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {% if confirm_message %}
                        <h2><span class="label label-danger">Warning :</span></h2>
                        <h3>{{ confirm_message }}</h3>
                        <hr>
                        <h4>{{ form.title.label_tag }}</h4>
                        <h5>{{ form.title.value }}</h5>
                        <h4>{{ form.description.label_tag }}</h4>
                        <h5>
                            {{ form.description.value }}
                        </h5>
                        <h4>{{ form.reason.label_tag }}</h4>
                        <h5>{{ form.reason.value }}</h5>
                        <h4>{{ form.hours.label_tag }}</h4>
                        <h5>{{ form.hours.value }}</h5>
                        <h4>{{ form.test.label_tag }}</h4>
                        <h5>
                            {{ form.test.value }}
                        </h5>
                        <h4>{{ form.points.label_tag }}</h4>
                        <h5>{{ form.points.value }}</h5>
                    {% else %}

                        <h4>{{ form.title.label_tag }}
                        </h4>
                        <p>{{ form.title }}</p>
                        <hr>
                        
                        <div id="tasks">
                            <h4 style="font-weight:bold">Tasks:</h4>
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                                <div class="item">
                                    {{ form.as_table }}
                                    <a  class="delete" 
                                        href="javascript:void(0);">
                                        <i class="fa fa-trash-o fa-fw"></i>
                                             Delete
                                    </a>
                                </div>
                            {% endfor %}
                            <p>
                                <a  id="add" 
                                    href="#">
                                    <i class="glyphicon glyphicon-plus"></i>
                                        New Task
                                </a>
                            </p>
                        </div>
                        <hr>

                        <h4>{{ form.description.label_tag }}</h4>
                        <p>{{ form.description }}</p>
                        <hr>
                        <h4>{{ form.reason.label_tag }}</h4>
                        <p>{{ form.reason }}</p>
                        <hr>
                        <h4>{{ form.test.label_tag }}</h4>
                        <p>{{ form.test }}</p>
                        <hr>
                        <h4>{{ form.hours.label_tag }}</h4>
                        <p>{{ form.hours }}</p>
                        <hr>
                        <h4>{{ form.status.label_tag}}</h4>
                        <p> {{ form.status }}</p>
                        <hr>
                        <h4>{{ form.points.label_tag}}</h4>
                        <p> {{ form.points }}</p>
                        <hr>
                        <h4> {{ form.pause.label_tag}}</h4>
                        <p>{{ form.pause }}</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    
                    <a class = "btn btn-default" id ="btn-state" onclick="change_state();"> Next State</a>
                    <!--<a class="btn btn-default" onclick="change_state();">Status</a>-->
                    <a class="btn btn-default" href="javascript:void(0);" onclick="closeStoryDialog();">Close</a>
                    {% if confirm_message %}
                    <button type="submit" class="btn btn-danger">{{ desc }}</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">{{ desc }}</button>

                    {% endif %}
                </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <script type="text/javascript">
        // detect submit button event to use ajax method to post the form
        // and retrive the return data back if there is error object in form object.
        $('#storyForm').on('submit',function(e){
            $(this).ajaxForm({
                type : "POST",
                cache : false,
                url : $(this).attr('action'),
                data : $(this).serialize(),
                success : function(data) {
                    $("#storyModal").html(data);
                },
                async:false
            }).submit();
            e.stopPropagation();
        });

        function change_state(){
            var state = document.getElementById("{{ form.status.id_for_label }}");
            if (state.selectedIndex<3){
                document.getElementById("btn-state").disabled=false;
                document.getElementById("btn-state").style.visibility="visible";
               state.selectedIndex =state.selectedIndex+1;
            }
            else{
                document.getElementById("btn-state").disabled=true;
                document.getElementById("btn-state").style.visibility="hidden";
            }
        }

       /*
       When edit form is loaded, the following function checks the status of the story, if it is accepted, the 
       next state button is disabled because there are no more states. After that, it checks the paused feature, if the checkbox is checked, you cannot go to the next state, so the next state button is disabled, if it is unchecked, the next state button is enabled. 
       */

       $(document).ready(function() {
            var state = document.getElementById("{{ form.status.id_for_label }}");
            var paused =document.getElementById("{{ form.pause.id_for_label }}"); 
        
            if (state.selectedIndex>2){
                document.getElementById("btn-state").disabled=true;
                document.getElementById("btn-state").style.visibility="hidden";
            }

            if (paused.checked==true){
                document.getElementById("btn-state").disabled=true;
                document.getElementById("btn-state").style.visibility="hidden"   
            }
            
            
            //hide the delete label & checkbox that the management_form uses
            $( "label[for*='DELETE']" ).each(function () {
                $(this).attr('style', 'display:none');
            });
            
            $( "input[id*='DELETE']" ).each(function () {
                $(this).attr('style', 'display:none');
            });
        });    
        
        // Register the click event handlers
        $("#add").click(function () {
            return addForm(this, "task_set");
        });
    
        $(".delete").click(function () {
            return deleteForm(this, "task_set");
        });
  
        //add a new task form to the formset
        function addForm(btn, prefix) {
            //get the mgmt section data
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            
            //copy the row & append it to the end
            var row = $(".item:first").clone().get(0);
            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);
            var newRef = prefix + "-" + formCount;
            
            //remove errors from the new row, if any
            $(".errorlist", row).remove();
            $(row).children().removeClass("error");
            
            //update the names & reset the vals
            var html = $(".item:last").html();
            html = html.replace(/task_set-0/g, newRef);
            $(".item:last").html(html);
            $(".item:last").children( "input" ).each(function () {
                if ($(this).attr('id').indexOf("-story") == -1) {
                    $(this).removeAttr("value");
                }
                if ($(this).attr('id').indexOf("-DELETE") > -1) {
                    $(this).removeAttr("checked");
                }
            });
            
            // Add an event handler for the delete item/form link 
            $(row).find(".delete").click(function () {
                return deleteForm(this, prefix);
            });
        
            // Update the total form count
            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
        }

        function deleteForm(btn, prefix) {
            var sibs = $(btn).siblings( "input" );
            $(sibs).each(function () {
                if ($(this).attr('id').indexOf("-DELETE") > 0) {
                    $(this).attr('checked', 'true');
                    $(btn).parents('.item').each(function () {
                        $(this).attr('style', 'display:none');
                    });
                }
            });
        }
    </script>
