<div class="panel-body">
	{% if newform %}
	<form id="newtask_form_{{ story.id }}" class="form-horizontal">
		{% csrf_token %}
		<div class="form-group">
			<label for="{{ newform.description.id_for_label }}" class="col-xs-12 col-md-2 control-label">New Task:</label>
			<div class="col-xs-9 col-md-8">
				{{ newform.description }}
			</div>
			<a class="btn btn-link col-xs-3 col-md-2" href="javascript:void(0);" onclick="addTaskIntoList({{ story.id }});">
				<i class="fa fa-plus fa-fw"></i>
				Add
			</a>
		</div>
	</form>
	{% endif %}
	<div class="list_group">
		{% for atask in tasks %}
		<div class="list-group-item">
			<!-- <h4 class="list-group-item-heading"></h4> -->
			{% if editform and atask == task %}
				<div class="list-group-item-text">
					<form id="edittask_form_{{ story.id }}" class="form-horizontal">
					{% csrf_token %}
					<div class="row">
						<label for="{{ editform.description.id_for_label }}" class="col-xs-12 col-md-2" style="padding-top: 5px;">Edit Task:</label>
						<div class="col-xs-12 col-md-7">
							{{ editform.description }}
						</div>
						<div class="col-xs-1 col-md-1" style="padding-top: 5px;">
							<a class="btn btn-link" href="javascript:void(0);" onclick="saveEditTaskInList({{ story.id }},{{ atask.id }})">
								<i class="fa fa-save fa-fw"></i>
								Save
							</a>
						</div>
						<div class="col-xs-1 col-md-1" style="padding-top: 5px;">
							<a class="btn btn-link" href="javascript:void(0);" onclick="loadTasks({{ story.id }})">
								<i class="fa fa-times fa-fw"></i>
								Cancel
							</a>
						</div>
					</div>
					</form>
				</div>
			{% else %}
				<div class="list-group-item-text">
					{{ atask.description|linebreaksbr }}
					<a class="btn btn-link pull-right" href="javascript:void(0);" onclick="removeTaskFromList({{ story.id }},{{ atask.id }})">
						<i class="fa fa-trash fa-fw"></i>
						Delete
						<form id="removetask_form_{{ story.id }}">
						{% csrf_token %}
						</form>
					</a>
					<a class="btn btn-link pull-right" href="javascript:void(0);" onclick="showEditTaskInList({{ story.id }},{{ atask.id }})">
						<i class="fa fa-edit fa-fw"></i>
						Edit 
					</a>
				</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>

<script type="text/javascript">
</script>
