    {% load staticfiles %}

	{% if confirm_message %}
    <div class="modal-dialog modal-lg">
    {% else %}
    <div class="modal-dialog">
    {% endif %}
      	<div class="modal-content">
	        <div class="modal-header">
	        	<a class="btn close" aria-label="Close" href="javascript:void(0);" onclick="closeUserDialog();">
                    <span aria-hidden="true">×</span>
                </a>
	        	<h4 class="modal-title" id="userModalLabel">{{ title }}</h4>
	        </div>
	        <div class="modal-body">
	        	{% if confirm_message %}
					<h2><span class="label label-danger">Warning :</span></h2>
					<h3>{{ confirm_message }}</h3>
					<hr>
	        	{% endif %}
				<ul class="list-group">
					{% if confirm_message %}
					    <!-- remove user from project -->
					    {% for auser in users %}
                            {% if not auser == user %}
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-user fa-fw"></i> {{ auser.username }}
                                <span>
                                	<a class="btn btn-link pull-right" href="/removeuserfromproject/{{ project.id }}/{{ auser.username }}">
					   	      	        <i class="fa fa-trash-o fa-fw"></i>
				                        Delete
                                    </a>
				                </span>
                            </li>
                            {% endif %}
                        {% endfor %}
					{% else %}
					<!-- add user to project -->
					{% for activeUser in activeUsers %}
                        {% if not activeUser == user %}
                            <li class="list-group-item">
                            <i class="glyphicon glyphicon-user fa-fw"></i> {{ activeUser.username }}
                            <form action ="/addusertoproject/{{ project.id }}/{{ activeUser.username }}" method="post">
                                {% csrf_token %}
                                {{ form }}
                                <span>
                            	    <a class="btn btn-link pull-right">
		    				   		    <i class="glyphicon glyphicon-plus fa-fw"></i>
			    				        <input type="submit" value="Add">
				    		   	    </a>
					    	    </span>
                            </form>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        	<div class="modal-footer">
        	  	<a class="btn btn-default" href="javascript:void(0);" onclick="closeUserDialog();">Close</a>
        	  	{% comment "No Use" %}
        	  	{% if confirm_message %}
				<button type="submit" class="btn btn-danger">{{ desc }}</button>
        	  	{% else %}
        	  	<button type="submit" class="btn btn-primary">{{ desc }}</button>
        	  	{% endif %}
        	  	{% endcomment %}
        	</div>
      	</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
